body{
    background-color: aliceblue;
    background-image: url("{% static 'star.png' %}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.serif{
    font-family: 'Times New Roman', Times, serif;
}

